---
---
<nav id="navbar" class="bg-white p-6"> <!-- Aumento del padding del navbar -->
	<div class="flex justify-between items-center">
		<a href="#navbar" class="flex items-center">
			<img src="assets/gcubo_logo.webp" alt="logo" class="h-16"/> <!-- Aumento del tamaño del logo -->
		</a>
		<ul class="flex items-center font-sans"> <!-- Fuente sans-serif aplicada -->
			<li class="ml-8"> <!-- Aumento del espaciado entre los elementos del menú -->
				<a href="#about" class="font-bold text-lg uppercase text-[#0092C7] hover:text-[#0092C7] hover:opacity-75">GCubo</a> <!-- Aumento del tamaño del texto -->
			</li>
			<li class="ml-8">
				<a href="#projects" class="font-bold text-lg uppercase text-[#0092C7] hover:text-[#0092C7] hover:opacity-75">Proyectos</a>
			</li>
			<li class="ml-8">
				<a href="#services" class="font-bold text-lg uppercase text-[#0092C7] hover:text-[#0092C7] hover:opacity-75">Integrantes</a>
			</li>	
			<li class="ml-8">
				<a href="#contact" class="font-bold text-lg uppercase text-[#0092C7] hover:text-[#0092C7] hover:opacity-75">Contacto</a>
			</li>
		</ul>	
	</div>
</nav>




